* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #44c3e6;
    font-family: sans-serif;
}

.main {
    display: flex;
    position: absolute;
    top: 25%;
    left: 25%;
    box-shadow: 10px 10px  10px gainsboro;
}

.container {
    height: 60vh;
    width: 50vw;
    background-color: #ffffff;
    
}
h1{
    color: #44c3e6;
    padding: 30px;
}
form .usp{
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 10px;
    width: 40vw;
    font-weight: bold;
}
button{
    margin-left: 30px;
    width: 42vw;
    padding: 10px;
    background-color: #44c3e6;
    color: white;
    border: none;
    font-weight: bold;
}